html, body, ul, li{margin: 0px; padding: 0px;}

/*메인이미지*/
#main_img{
    width: 100px;
    height: 70px;
}


/*헤더*/
#header_div{
    width: 100%;
    height: 100px;
    background-color: #282828;
}

#header_div nav ul{
}

#header_div nav ul li{
}


#header_div nav ul li a{
    text-decoration: none;
    font-size: 30px;
    color: white;
    font-weight: bold;
}

/*메뉴*/
#menu_div nav ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 40px;
    background-color: #655b5b;
    list-style-type: none;
}

#menu_div nav ul li{
}


#menu_div nav ul li a{
    text-decoration: none;
    font-size: 15px;
    color: white;

}


/*공통 메인 박스*/
#main_container{
    width: 100%;
    height: 100%;
    background-color: lightgray;
}



/*공통 버튼*/
.btn{
    border: none;
    border-radius: 5px;
    background-color: black;
    padding: 5px 15px;
    color: white;
    font-size: 15px;
}

.btn:hover{
    border: none;
    border-radius: 5px;
    background-color: white;
    padding: 5px 15px;
    color: black;
    font-size: 15px;
}

.item_container{
    display: flex;
    justify-content: center;
}

.item_tbl{
    border: 1px solid black;
    border-collapse: collapse;
    width: 70%;
}


.item_tbl th,td{
    border: 1px solid black;
    text-align: center;
}